site_name: 个人知识库
site_url: https://shihangwu.github.io/mkdocs/

nav:
  - 25-26秋冬:
    - 电子电路基础: 25-26fall/ElectricCircuits.md
    - 概率论与数理统计: 25-26fall/Probability.md
    - 微观经济学: 25-26fall/Microeconomics.md

theme: 
  name: material
  font:
    text: Merriweather Sans
    code: Red Hat Mono
  logo: assets/logo.jpg
  favicon: assets/favicon.ico
  features:
    - navigation.footer
    - toc.follow
  palette:
    # Dark Mode
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Dark mode
      primary: green
      accent: deep purple

    # Light Mode
    - scheme: default
      toggle:
        icon: material/weather-night
        name: Light mode
      primary: blue
      accent: deep orange
  language: zh

extra_javascript:
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js


markdown_extensions:
  - attr_list
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg 
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - admonition
  - pymdownx.details
  - toc:
      permalink: true

extra:
  social:
    - icon: simple/github
      link: https://github.com/ShihangWu

copyright: Copyright &copy; 2025 ShihangWu